body {
	font-family: Arial, Helvetica, sans-serif;
	background: url("../images/background.jpg") center top fixed repeat;
}

h1 {
	color: #31342d;
	text-align: center;
}

img {
	height: 70%;
	width: 70%;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 0 40px;
	border-radius: 1rem 1rem 0 0;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(2px);
	border: 1px solid #31342d54;
	border-bottom-width: 0;
}

/**********************************
		Styles for recipe.html
***********************************/
#saved-recipe-link {
	margin-right: 0.5rem;
}

#food-categories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#food-categories-container {
	background-color: rgba(255, 255, 255, 0.6);
	padding-bottom: 1rem;
	border-radius: 0 0 1rem 1rem;
	backdrop-filter: blur(2px);
	border: 1px solid #31342d54;
	border-top-width: 0;
}

#food-categories > p {
	padding-left: 40px;
	font-weight: bold;
	color: #31342dc5;
	margin: 0;
}

#food-categories-ul {
	margin-top: 0;
}

#search-bar-container {
	display: flex;
	justify-content: center;
}

#search-form {
	background-color: white;
	padding: 5px;
	border-radius: 500px;
	filter: drop-shadow(0px 0px 3px #31342d54);
}

#search-bar-container input {
	box-sizing: border-box;
	height: 100%;
	border: none;
	border-radius: 500px;
	padding: 0px 20px;
}

#display-search {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	max-width: 75rem;
	margin: 0px auto;
	grid-gap: 25px;
	padding: 0;
}

#display-search li {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	border: 2px ridge whitesmoke;
	padding: 10px;
}

#ingredient-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.mealInstructions {
	max-width: 90%;
}

#recipe-list-container {
	position: relative;
	background-color: #f2f2f2;
	width: 70vw;
	height: 70vh;
	border: 3px solid brown;
	overflow-y: scroll;
	background-color: black;
	color: white;
}

#recipe-list-ingredient {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#recipe-list-ingredient li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 70%;
}

#exit-overlay-button {
	position: absolute;
	top: 15px;
	right: 20px;
	background-color: white;
}

#content-area {
	color: white;
	background-color: black;
	border: 10px solid brown;
	border-radius: 20px;
	margin-top: 1rem;
	padding: 1.5rem;
	display: none;
}

/**********************************
		Button Styles
***********************************/
.button-style {
	color: white;
	background-color: #31342d;
	padding: 0.75rem 1.25rem;
	border-radius: 500px;
	border: none;
	cursor: pointer;
	transition: background-color 0.35s ease-in-out;
}

.button-style:hover {
	background-color: #ca4f16;
}

#exit-overlay-button {
	padding: 5px;
}

.remove-button {
	display: none;
	top: 5px;
	right: 5px;
	background-color: #f32121;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	margin-top: 5px;
}

.save-button {
	top: 5px;
	right: 5px;
	background-color: #2196f3;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	margin-top: 5px;
}

#logout {
	float: right;
}

.category-button {
	background-color: #ca4f16;
	border: none;
	color: white;
	padding: 15px;
	margin: 10px 5px 0.5px 1px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.35s ease-in-out;
}

.category-button:hover {
	background-color: #f49d17;
}

/* Responsive Styles */
@media (max-width: 600px) {
	header {
		flex-direction: column;
		padding: 1rem;
	}

	#food-categories {
		flex-direction: column;
	}

	#display-search {
		grid-template-columns: repeat(1, minmax(100px, 2fr));
		grid-gap: 15px;
		padding: 0 1rem;
	}

	#display-search li {
		padding: 5px;
	}

	#recipe-list-container {
		width: 90vw;
		height: 50vh;
	}

	#recipe-list-ingredient li {
		width: 90%;
	}

	#exit-overlay-button {
		width: 25px;
		height: 25px;
		font-size: 16px;
	}

	#search {
		margin: 28px 0px 5px -40px;
		left: 50%;
		position: absolute;
	}

	#food-categories-ul {
		margin-top: 0;
		padding-inline-start: 40px;
		padding-inline-end: 35px;
	}

	#content-area {
		color: white;
		background-color: black;
		border: 10px solid brown;
		border-radius: 20px;
		margin-top: 3rem;
		padding: 1.5rem;
		display: none;
	}
}
