.formcontainer {
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    padding: 3vw 3vw 0 5vw;
    margin: auto;
}

.formcontainer hr {
    margin-bottom: 3vw;
}

.testfield label{
    display: block;
    margin: 0.5vw 0;
}

.textfield input{
    width: 100%;
    padding: 0.5vw;
    margin: 0.5vw 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 1vw 2vw;
    margin: 1vw 0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button[type="submit"] {
    background-color: rgb(81, 132, 235);
}

button[type="reset"]{
    background-color: rgb(224, 62, 62);
}

